
body{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("snake.png");
    background-size: cover;
  }
  .keys{
    font-size: 3.25rem;
    color: aqua;
  }
  .left{
    margin-right: 300px;
    margin-top: -60px;
  }
  .right{
    margin-left: 300px;
    margin-top: -95px;
  }

  .text{
    font-size: 2rem;
    color: black;
  }
  
  .right:hover,
  .left:hover,
  .down:hover,
  .up:hover{
    color: rgb(160, 66, 66);
  }

