
body{
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("snake.png");
  background-size: cover;
  background-position: center;
}
.keys{
  font-size: 3.25rem;
  color: aqua;
}
.text{
  font-size: 2.25rem;
}
.left{
  position: absolute;
  left: 40rem;
  top: 46rem
}
.right{
  right: 40rem;
  position: fixed;
  top: 46rem;
}
.right:hover,
.left:hover,
.down:hover,
.up:hover{
  color: black;
}
